body{
    display: flex;
    border: 8px solid black;
    justify-content: space-evenly;
    min-height: 800px;
    align-items: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: blue;
    font-size: 30pt;
}
